[Unit]
Description=Telegram VPN Subscriptions Bot
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/2S-UI-tgbot-dashboard
EnvironmentFile=-/var/www/2S-UI-tgbot-dashboard/.env
ExecStart=/var/www/2S-UI-tgbot-dashboard/venv/bin/python bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
