[Unit]
Description=Telegram VPN Subscriptions Bot
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/2S-UI-TGbot-Dashboard
EnvironmentFile=-/var/www/2S-UI-TGbot-Dashboard/.env
ExecStart=/var/www/2S-UI-TGbot-Dashboard/venv/bin/python bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
